In [1]:
import pandas as pd
d=pd.read_csv("image.csv")
print(d)

      Name Gender Branch  Age
0   Joshna      F    CSE   21
1  Vandana      F    EEE   19
2    Manoj      M  CIVIL   16
3   Kamala      F    ECE   45
4  Apparao      M   MECH   55

In [11]:
d.isnull()

    Name  Gender  Branch    Age
0  False   False   False  False
1  False   False   False  False
2  False   False   False  False
3  False   False   False  False
4  False   False   False  False

In [12]:
d.isnull().sum()

Name      0
Gender    0
Branch    0
Age       0
dtype: int64

In [13]:
d.isnull().sum().sum()

0