In [8]:
import pandas as pd
df=pd.read_csv("emp.csv")
print(df)

   S.No     Name  Age  Salary Gender   dept
0     1  Vandana   18   10000      f    eee
1     2   joshna   22   90000      f    cse
2     3    manoj   15   34000      m   mech
3     4   kamala   45   45000      f  civil
4     5  apparao   50   79000      m    ece

In [9]:
#object reference:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000245F39A2710>

In [11]:
a=df.groupby(["Gender","dept"])
print(a.groups)

{('f', 'civil'): [3], ('f', 'cse'): [1], ('f', 'eee'): [0], ('m', 'ece'): [4], ('m', 'mech'): [2]}

In [12]:
print(df.groupby(["dept"]).max())

       S.No     Name  Age  Salary Gender
dept
civil     4   kamala   45   45000      f
cse       2   joshna   22   90000      f
ece       5  apparao   50   79000      m
eee       1  Vandana   18   10000      f
mech      3    manoj   15   34000      m

In [13]:
print(df.groupby(["Gender"]).max())

        S.No    Name  Age  Salary  dept
Gender
f          4  kamala   45   90000   eee
m          5   manoj   50   79000  mech

In [15]:
print(df.groupby(["dept"]).groups)

{'civil': [3], 'cse': [1], 'ece': [4], 'eee': [0], 'mech': [2]}

In [17]:
print(df.groupby(["Gender"]).groups)

{'f': [0, 1, 3], 'm': [2, 4]}

In [19]:
g=df.groupby(["Gender"])
print(g.get_group('m'))

   S.No     Name  Age  Salary Gender  dept
2     3    manoj   15   34000      m  mech
4     5  apparao   50   79000      m   ece

In [20]:
df["Gender"].value_counts()

f    3
m    2
Name: Gender, dtype: int64