In [1]:
import pandas as pd
d=pd.read_csv("salaries.csv")
d

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [2]:
inputs=d.drop("salary_more_then_100k",axis="columns")
target=d["salary_more_then_100k"]

In [4]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()
inputs["company-n"]=le_company.fit_transform(inputs["company"])
inputs["job-n"]=le_job.fit_transform(inputs["job"])
inputs["degree-n"]=le_degree.fit_transform(inputs["degree"])
inputs.head()

  company                  job     degree  company-n  job-n  degree-n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [5]:
newinput=inputs.drop(["company","job","degree"],axis="columns")
newinput.head()

   company-n  job-n  degree-n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [7]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(newinput,target)
model.score(newinput,target)

1.0

In [15]:
model.predict([[2,1,1]])

C:\Users\Vandana\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [14]:
model.predict([[0,1,1]])

C:\Users\Vandana\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)