In [1]:
import pandas as pd
df=pd.read_csv("pandas.csv")
df

        NAME  AGE  MARKS
0    vandana   19     98
1     joshna   20     98
2      manoj   15     67
3     kamala   30     65
4    apparao   35     95
..       ...  ...    ...
100  vandana   10     45
101    manoj   15     99
102   joshna   20     89
103   kamala   30     56
104  apparao   35     76

[105 rows x 3 columns]

In [2]:
print(df.loc[3])

NAME     kamala
AGE          30
MARKS        65
Name: 3, dtype: object

In [3]:
print(df.loc[df["AGE"]>20])

        NAME  AGE  MARKS
3     kamala   30     65
4    apparao   35     95
8     kamala   30     89
9    apparao   35     95
13    kamala   30     56
14   apparao   35     76
18    kamala   30     65
19   apparao   35     95
23    kamala   30     89
24   apparao   35     95
28    kamala   30     56
29   apparao   35     76
33    kamala   30     65
34   apparao   35     95
38    kamala   30     89
39   apparao   35     95
43    kamala   30     56
44   apparao   35     76
48    kamala   30     65
49   apparao   35     95
53    kamala   30     89
54   apparao   35     95
58    kamala   30     56
59   apparao   35     76
63    kamala   30     65
64   apparao   35     95
68    kamala   30     89
69   apparao   35     95
73    kamala   30     56
74   apparao   35     76
78    kamala   30     65
79   apparao   35     95
83    kamala   30     89
84   apparao   35     95
88    kamala   30     56
89   apparao   35     76
93    kamala   30     65
94   apparao   35     95
98    kamala   30     89
99   apparao   35     95
103   kamala   30     56
104  apparao   35     76

In [14]:
print(df.loc[MARKS]>50)

NameError: name 'MARKS' is not defined

In [7]:
df["new_cloumn"]=0
df

        NAME  AGE  MARKS  new_cloumn
0    vandana   19     98           0
1     joshna   20     98           0
2      manoj   15     67           0
3     kamala   30     65           0
4    apparao   35     95           0
..       ...  ...    ...         ...
100  vandana   10     45           0
101    manoj   15     99           0
102   joshna   20     89           0
103   kamala   30     56           0
104  apparao   35     76           0

[105 rows x 4 columns]

In [9]:
df.loc[1,"NAME"]

'joshna'

In [13]:
newdf=df[(df.AGE>15)&(df.MARKS>90)]

In [15]:
df["adress"]=["a","c","a","u","k"]
df

ValueError: Length of values (5) does not match length of index (105)