In [2]:
import pandas as pd
data=pd.read_csv("bollywood.csv")
print(data)

     SlNo Release Date                    MovieName ReleaseTime      Genre  \
0       1    18-Apr-14                     2 States          LW    Romance
1       2     4-Jan-13                 Table No. 21           N  Thriller
2       3    18-Jul-14           Amit Sahni Ki List           N     Comedy
3       4     4-Jan-13             Rajdhani Express           N     Drama
4       5     4-Jul-14                 Bobby Jasoos           N     Comedy
..    ...          ...                          ...         ...        ...
144   145    27-Feb-15           Dum Laga Ke Haisha           N     Comedy
145   146    13-Mar-15                         NH10           N   Thriller
146   147    20-Mar-15  Dilliwali Zaalim Girlfriend           N     Comedy
147   148    20-Mar-15                     Hunterrr           N     Comedy
148   149    23-May-14                Kochadaiiyaan          HS     Action

     Budget  BoxOfficeCollection  YoutubeViews  YoutubeLikes  YoutubeDislikes
0        36               104.00       8576361         26622             2527
1        10                12.00       1087320          1129              137
2        10                 4.00        572336           586               54
3         7                 0.35         42626            86               19
4        18                10.80       3113427          4512             1224
..      ...                  ...           ...           ...              ...
144      15                30.00       3250917          8185              615
145      13                32.10       5592977         15464             1513
146      32                12.00       2316047          4289              807
147       5                11.89       4674795          3706              762
148     150               120.00       4740727         13466             2649

[149 rows x 10 columns]

In [3]:
# 1. How many records are present in the dataset?
len(data)

149

In [6]:
 #Print the metadata information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [9]:
#How many movies got released in each genre? Which genre had highest number of releases? Sort number of releases in each genre in descending order.
x=data["Genre"].value_counts()
x

Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

In [31]:
type(x)

numpy.int64

In [32]:
x[x==data["Genre"].value_counts().max()]

array([36], dtype=int64)

In [36]:
#How many movies in each genre got released in different release times like long weekend, festive season, etc. (Note: Do a cross tabulation between Genre and ReleaseTime)
pd.crosstab(index=data["Genre"],columns=data["ReleaseTime"])

ReleaseTime  FS  HS  LW   N
Genre
 Drama        4   6   1  24
Action        3   3   3  12
Action        0   0   0   3
Comedy        3   5   5  23
Romance       3   3   4  15
Thriller      4   1   1  20
Thriller      0   0   1   2

In [40]:
 #Which month of the year, maximum number movie releases are seen? (Note: Extract a new column called month from ReleaseDate column.)
s=[]
for i in range(len(data["Release Date"])):
    s.append(data.loc[i,"Release Date"][-6:-3])
data["month"]=s

In [41]:
k=data["month"].value_counts().max()
k[k==k.max()]

array([20], dtype=int64)